VITE_SITE_PASSWORD_HASH=
VITE_API_BASE_URL=
VITE_TILE_URL_TEMPLATE=https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png
VITE_TILE_ATTRIBUTION=&copy; OpenStreetMap contributors &copy; CARTO
VITE_TILE_SUBDOMAINS=abcd
VITE_TILE_MAX_ZOOM=20
